<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangduoyu.webview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android:usesCleartextTraffic="true"  允许http请求-->
    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".WebViewActivity"
            android:process=":xiangxuewebview"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <service android:name=".mainprocess.MainProcessCommandService" />
    </application>

</manifest>
